{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Counselling Care{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/Chatbot.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}
        {% include 'chatbot.html' %}
    </main>

    {% include 'footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>