<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counselling - Login</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>

<body>
    <div class="container">
        <div class="welcome-section">
            <h1>Welcome Back</h1>
            <p>
                A safe and supportive space for your mental well-being.
                Sign in to continue your journey toward better health.
            </p>
        </div>

        <div class="login-card">

            <h2>Login</h2>

            <!-- Added id="loginForm" to hook up JavaSript behavior -->
            <form id="loginForm" method="POST">
                {% csrf_token %}
                {% if messages %}
                <div class="error-messages">
                    {% for message in messages %}
                    <!-- This will print: Email already exists -->
                    <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <label>Login ID <span style="color: red;">*</span></label>
                <input type="text" id="email" placeholder="Enter your username, email or phone number" name="login_id">

                <label>Password <span style="color: red;">*</span></label>
                <input type="password" id="password" placeholder="Enter your password" name="password">

                <button type="submit">Sign In</button>

            </form>

            <div class="links">
                <a href="#">Forgot Password?</a>
                <p>New here? <a href="{% url 'register' %}">Create Account</a></p>
            </div>

        </div>

    </div>

    <!-- JAVASCRIPT LOGIC -->
    <script>
        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const email = document.getElementById('email').value.trim();
            const password = document.getElementById('password').value;
            if (!email || !password) {
                alert('Please fill out both fields to login');
            }
            this.submit();
        });
    </script>

</body>

</html>